/* 
    Colour palette referenced: https://www.color-hex.com/color-palette/1046976
    
    Some information was obtained from lecture content as well
    pseudo-elemts referenced: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
    pseudo-classes referenced: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes 
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #58257d;
}


/* header */
header{
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #ffffff;
    color: #58257d;
}


/* logo */
.logo-place {
  display: flex;
  align-items: center;
}
.logo-img {
  height: auto;
  width: auto;
}


/* EBTU header */
.ebti {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #58257d;
}

/* navigation buttons */
/* referenced from: https://www.w3schools.com/html/html_lists_unordered.asp */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #293d6b;
}
.menu a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: inline-block;
    /* float: left; */
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #293d6b;
    color: #ffffff;
}
.menu a:hover {
    background-color: #8cabc2;
}


/* main */
main {
    background-color: #ebebeb;
    padding: 25px;
}

/* footer */
footer {
    height: 50px;
    width: 100%;
    padding: 10px;
    background-color: #293d6b;
    color: #ffffff;
}

