/* 
    Colour palette referenced: https://www.color-hex.com/color-palette/1046976
    
    Some information was obtained from lecture content as well
    pseudo-elemts referenced: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
    pseudo-classes referenced: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes 
*/

.abt-services {
    background-color: #ffffff;
    padding: 25px 25px 25px;
    margin: 10px 250px 25px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #293d6b;
}


.location {
    background-color: #ffffff;
    padding: 25px 25px 25px;
    margin: 10px 250px 25px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #293d6b;
}


.top {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #293d6b;
    color: #ffffff;
}

.top:hover {
    background-color: #8cabc2;
}

.top:active{
    background-color: #dde8ee;
}