/* 
    Colour palette referenced: https://www.color-hex.com/color-palette/1046976
    
    Some information was obtained from lecture content as well
    pseudo-elemts referenced: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
    pseudo-classes referenced: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes 
*/

.emphasize-letter::first-letter {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.abt-services {
    background-color: #ffffff;
    padding: 25px 25px 25px;
    margin: 10px 250px 25px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #293d6b;
}


.location {
    background-color: #ffffff;
    padding: 25px 25px 25px;
    margin: 10px 250px 25px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #293d6b;
}

.top {
    list-style-type: none;
    margin: -50px 875px;
    background-color: #767bb2;
}

.top a {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #767bb2;
    color: #ffffff;
    /*
    position: absolute;
    right: 0px;
    bottom: 0px;
    */
}

.top a:hover {
    background-color: #8cabc2;
}

.top a:active{
    background-color: #dde8ee;
}