/* 
    Colour palette referenced: https://www.color-hex.com/color-palette/1046976
    
    Some information was obtained from lecture content as well
    pseudo-elemts referenced: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
    pseudo-classes referenced: https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes 
*/

.table {
    background-color: #ffffff;
    padding: 25px 25px 25px;
    margin: 10px 25px 25px;
    border-radius: 20px;
    border-width: 0;
    box-shadow: 4px 4px 4px #293d6b;
}

.location {
    background-color: #ffffff;
    padding: 25px 25px 25px;
    margin: 10px 25px 25px;
    border-radius: 20px;
}
